
<div *ngIf="valueStreamTag">
    <h2><span>Value Stream Tag</span> {{valueStreamTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Tag Name</span></dt>
        <dd>
            <span>{{valueStreamTag.tagName}}</span>
        </dd>
        <dt><span>X</span></dt>
        <dd>
            <span>{{valueStreamTag.x}}</span>
        </dd>
        <dt><span>Y</span></dt>
        <dd>
            <span>{{valueStreamTag.y}}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
            <span>{{valueStreamTag.height}}</span>
        </dd>
        <dt><span>Width</span></dt>
        <dd>
            <span>{{valueStreamTag.width}}</span>
        </dd>
        <dt><span>Value Stream</span></dt>
        <dd>
            <div *ngIf="valueStreamTag.valueStream">
                <a [routerLink]="['/value-stream', valueStreamTag.valueStream?.id]">{{valueStreamTag.valueStream?.valueStream}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'value-stream-tag/'+ valueStreamTag.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
