<div>
    <h2>
        <span>Value Stream Tags</span>
        <button class="btn btn-primary float-right jh-create-entity create-value-stream-tag" [routerLink]="['/', { outlets: { popup: ['value-stream-tag-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Value Stream Tag
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="valueStreamTags">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tag Name</span></th>
            <th><span>X</span></th>
            <th><span>Y</span></th>
            <th><span>Height</span></th>
            <th><span>Width</span></th>
            <th><span>Value Stream</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let valueStreamTag of valueStreamTags ;trackBy: trackId">
                <td><a [routerLink]="['../value-stream-tag', valueStreamTag.id ]">{{valueStreamTag.id}}</a></td>
                <td>{{valueStreamTag.tagName}}</td>
                <td>{{valueStreamTag.x}}</td>
                <td>{{valueStreamTag.y}}</td>
                <td>{{valueStreamTag.height}}</td>
                <td>{{valueStreamTag.width}}</td>
                <td>
                    <div *ngIf="valueStreamTag.valueStream">
                        <a [routerLink]="['../value-stream', valueStreamTag.valueStream?.id ]" >{{valueStreamTag.valueStream?.valueStream}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../value-stream-tag', valueStreamTag.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'value-stream-tag/'+ valueStreamTag.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'value-stream-tag/'+ valueStreamTag.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
