
<div *ngIf="valueStream">
    <h2><span>Value Stream</span> {{valueStream.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <button type="button" 
        class="btn btn-primary" (click)="enableDrag()">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
    <dl class="row-md jh-entity-details">
        <dd>
            <div *ngIf="valueStream.image">
                <div class="photo-container" style="position: relative;">
                    <img id="{{valueStream.id}}" [src]="'data:' + valueStream.imageContentType + ';base64,' + valueStream.image" style="max-width: 100%;" alt="valueStream image"/>
                <div class="svg-container">
                    <svg height="100%" width="100%">
                        <rect *ngFor="let rect of valueStream.valueStreamTags" [attr.x]="rect.x" [attr.y]="rect.y" [attr.height]="rect.height" [attr.width]="rect.width" style="stroke: darkgrey; fill: none; stroke-width: 3px;"></rect>
                    </svg>
                </div>
                </div>    
                {{valueStream.imageContentType}}, {{byteSize(valueStream.image)}}
            </div>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
